<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="/sass/main.css">
    <title>Nof's</title>
</head>
<body>

    <div class="container">

        <nav id="nav" class="row padlr">
            <a class="brand" href="#">
                SHEAN'S STORE
            </a>

            <div class="link-items">
                <ul class="row">
                    <li ><a href="#home">HOME</a></li>
                    <li ><a href="#about">ABOUT</a></li>
                    <li ><a href="#contact">CONTACT US</a></li>
                </ul>
            </div>

        </nav>
    
        <main id="main" class="row padlr ">

            <div class="card neu mar">
                
                <div class="prod-img">
                    <img class="marb" src="images/p11.png" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p10.png" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST2</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p9.png" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST3</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p5.jpg" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST4</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p4.jpg" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST5</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p3.jpg" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST6</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>

            <div class="card neu mar">
                <div class="prod-img">
                    <img class="marb" src="images/p7.jpg" alt="p11">
                </div>

                <div class="card-content marb">
                    <a href="product.html" class="marb"><h3>TEST6</h3></a>

                    <div class="details row mart">
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">$120</div>
                    </div>
                </div>

            </div>
    
        </main>
    
    
        <footer id="footer" class="row center">
            nofs&copy2021
        </footer>

    </div>
    

   



</body>
</html> 